*{  box-sizing: border-box;}

body,html{
  margin:0;
  font-size:16px;
}

.header{
  overflow: auto;
  background: #ccc;
  padding:20px ;
  width: 100%;
  top: 0px;
}

.logo{
   width: 70px;
}

.menu{
  font-size: 40px;
  float: right;
  margin-top: 15px;
}

.menu a{
  text-decoration: none;
  color: black;
}

.hamburguesa{
  display: none;
}

.main div{
  height: 150px;
  width:33.3%;
  float: left;
  border:2px solid red;
  background: grey;
}

.footer div{
  height: 150px;
  width: 50%;
  float: left;
  border: 2px solid black;
  background: lightblue;
}


@media screen and (max-width: 670px){

.main div{
  width:50%;
}

.main div:last-child{
  display: none;
}
}


@media screen and (max-width: 350px){
.menu span{
  display: none;
}

.hamburguesa{
  display: block;  
}  

.main div{
  width:100%;
}

.main div:last-child{
  display: none;
}

.footer div{
  width: 100%
}  

.footer div:last-child{
  display: none;
}
}