.col1 {
  width: 8.33333%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col2 {
  width: 16.66667%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col3 {
  width: 25%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col4 {
  width: 33.33333%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col5 {
  width: 41.66667%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col6 {
  width: 50%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col7 {
  width: 58.33333%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col8 {
  width: 66.66667%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col9 {
  width: 75%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col10 {
  width: 83.33333%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col11 {
  width: 91.66667%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}

.col12 {
  width: 100%;
  height: 50px;
  background: blue;
  margin-top: 1px;
}
