/*resets y estructura general*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
  font-family: hot_sweat;
  src: url("../fuentes/HotSweat.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}