/*resets y estructura general*/
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@font-face {
  font-family: hot_sweat;
  src: url("../fuentes/HotSweat.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive; }

.header {
  display: flex;
  /* height: 160px; */
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #bc7012, #efd002);
  /* padding: 0 10px; */
  border-top: 10px solid black; }
  .header .header_titulo {
    font-family: "hot_sweat";
    font-size: 3rem;
    font-style: italic;
    font-weight: normal; }

.cont_espuma {
  /* overflow: hidden; */
  /* height: 25px; */
  position: absolute;
  top: 0; }
  .cont_espuma .espuma {
    height: 30px;
    width: 40px;
    background: white;
    border-radius: 50%;
    position: relative;
    float: left;
    left: 10px;
    margin-left: -10px;
    top: -10px; }
    .cont_espuma .espuma:nth-child(even) {
      top: -5px; }
  .cont_espuma .goteo {
    position: absolute;
    right: 10px;
    height: 120px;
    width: 20px;
    background: white;
    border-radius: 0 0 40% 60%; }

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff66;
  /* border: 1px solid #e4e3e37a; */
  width: 10px;
  height: 10px;
  bottom: 0;
  animation: bubbles ease-in-out infinite; }
  .bubble:nth-last-child(1) {
    left: 35px;
    animation-duration: 0.8s; }
  .bubble:nth-last-child(2) {
    left: 90%;
    animation-duration: 1s; }
  .bubble:nth-last-child(3) {
    left: 80%;
    animation-duration: 1.9s; }
  .bubble:nth-last-child(4) {
    left: 70%;
    animation-duration: 2.9s; }
  .bubble:nth-last-child(5) {
    left: 60%;
    animation-duration: 3.9s; }
  .bubble:nth-last-child(6) {
    left: 50%;
    animation-duration: 4.9s; }
  .bubble:nth-last-child(7) {
    left: 12%;
    animation-duration: 5s; }
  .bubble:nth-last-child(8) {
    left: 10%;
    animation-duration: 6s; }
  .bubble:nth-last-child(9) {
    left: 8%;
    animation-duration: 7s; }
  .bubble:nth-last-child(10) {
    left: 6%;
    animation-duration: 8s; }
  .bubble:nth-last-child(11) {
    left: 4%;
    animation-duration: 9s; }
  .bubble:nth-last-child(12) {
    left: 2%;
    animation-duration: 10s; }

.logo {
  height: 150px;
  /* width: 80px; */
  /* position: relative; */ }

.menu_general {
  display: flex;
  flex-direction: column; }
  .menu_general a {
    border: 2px solid;
    border-radius: 5px;
    padding: 0.2em;
    text-decoration: none;
    color: black; }

.menu_hamburguesa {
  padding: 10px;
  font-family: hot_sweat;
  position: relative;
  font-size: 2rem; }
  .menu_hamburguesa a {
    border: 1px solid black;
    padding: 2px;
    text-decoration: none;
    color: black;
    z-index: 2; }
  .menu_hamburguesa:hover .hamburguesa {
    transform: rotate(-45deg); }
  .menu_hamburguesa:hover .servir {
    height: 120px; }
  .menu_hamburguesa:hover .menu_oculto {
    /* visibility: visible; */
    height: auto;
    overflow: visible; }
    .menu_hamburguesa:hover .menu_oculto::after {
      height: 155px;
      border-top: 20px solid #ffffffc2; }

.hamburguesa {
  position: relative;
  padding: 3px;
  border: 3px solid #fffefe82;
  border-top: 15px solid #ffffffc7;
  border-radius: 5px;
  transition: 1s; }
  .hamburguesa::after {
    content: '';
    width: 5px;
    height: 20px;
    position: absolute;
    right: -11px;
    top: 2px;
    border: 3px solid #fffefe82;
    border-radius: 5px; }

.servir {
  position: absolute;
  top: 26px;
  margin-left: -10px;
  height: 0;
  width: 10px;
  background: linear-gradient(to bottom, #bc7012, #efd002);
  transition: 1s; }

.menu_oculto {
  /* visibility: hidden; */
  position: absolute;
  overflow: hidden;
  height: 0;
  margin-top: 15px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: 0; }
  .menu_oculto::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(to bottom, #bc7012, #efd002);
    border-radius: 5px 5px 0 0;
    transition: 1.5s 0.5s; }

@keyframes bubbles {
  100% {
    bottom: 130px; } }
@keyframes gradiente {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/*--------------------------------------------------------------------------*/
/*Termina el Header*/
#historia {
  padding: 1em;
  background: repeating-linear-gradient(40deg, #9e9e9e 30%, #ffffff30 61%), repeating-linear-gradient(300deg, #ffffff 20%, #9e9e9e42 50%), repeating-linear-gradient(15deg, #fff 20%, #9e9e9e 60%);
  /* background: repeating-linear-gradient(0deg, #9e9e9e 30%, #ffffff30 61%), repeating-linear-gradient(300deg, #ffffff 20%, #9e9e9e42 50%), repeating-linear-gradient(15deg, #fff0 20%, #9e9e9e 60%), repeating-linear-gradient(250deg, #fff0 50%, #9e9e9e 90%); */
  /* background: repeating-linear-gradient(transparent 30%, #8A6F4E 60%), linear-gradient(45deg, #C8AC82 50%, #8A6F4E 60%); */
  /* filter: sepia(40%); */ }

.titulo {
  /*padding-top: 1em;*/
  font-family: "hot_sweat";
  font-size: 2rem;
  border-bottom: 2px dotted;
  text-align: center; }

/*Empieza Cervezas*/
/*--------------------------------------------------------------------------*/
#contenedor_cervezas {
  padding: 1em;
  background: radial-gradient(circle, #311B92, #00BCD4, #311B92);
  background-size: 80% 50%;
  animation: gradiente 10s infinite; }
  #contenedor_cervezas .cervezas {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-gap: 2em; }

.item {
  /* position: relative; */
  max-width: 300px;
  padding: 2em;
  align-self: center;
  justify-self: center;
  background: linear-gradient(to bottom, #bc7012, #efd002);
  border-radius: 50%;
  transition: 1.5s; }
  .item:nth-child(odd) {
    background: linear-gradient(to bottom, #71130d, #ae250b); }
  .item h4 {
    text-align: center; }
  .item::after {
    	/*content: '';
    		background-color: rgba(255, 255, 255, 0.25);
        bottom: -10px;
        height: 200px;
        left: -40px;
        position: absolute;
        transform: rotate(30deg);
        -webkit-transform: rotate(15deg);
        width: 110px;*/ }
  .item p {
    display: none; }
  .item .foto_cervezas {
    display: block;
    height: 150px; }
  .item:hover {
    transform: rotateY(360deg);
    border-radius: 10px; }
    .item:hover:nth-child(odd) {
      transform: rotate(360deg); }
    .item:hover p {
      display: block; }
    .item:hover .foto_cervezas {
      display: none; }

.formulario {
  padding: 1em; }
  .formulario div {
    width: 50%;
    display: flex; }
    .formulario div span {
      margin-right: 0.5em; }
    .formulario div input {
      margin: 0.5em 0.5em 0.5em 0;
      flex: 1; }
    .formulario div input:focus {
      font-size: 1.5rem;
      border: 2px solid blue; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: repeating-linear-gradient(45deg, #000000 8%, #1f1f1f 9%, #000000 10%);
  color: #bc7012; }
  .footer .redes {
    width: 70px; }

.hidden_desktop {
  display: none; }

@media screen and (max-width: 720px) {
  .hidden_desktop {
    display: block; }

  .hidden_tablet {
    display: none; }

  #contenedor_cervezas .cervezas {
    grid-template-columns: repeat(2, auto); } }
@media screen and (max-width: 550px) {
  #contenedor_cervezas .cervezas {
    grid-template-columns: repeat(1, auto); } }

/*# sourceMappingURL=style.css.map */
