$dorado: #bc7012;
$amarillo: #efd002;
$bordo: #71130d;
$rojo: #ae250b;
$gradiente: linear-gradient(to bottom, $dorado, $amarillo);
$gradiente2: linear-gradient(to bottom, $bordo, $rojo);
$gradiente_papel: repeating-linear-gradient(90deg, #BDBDBD 8%, #ffffff 9%, #BDBDBD 10%);