*{
	box-sizing: border-box;
}

body{
	margin:0;
	padding: 0; 
}

.contenedor{
	display: grid;
	grid-template-columns: repeat(4, auto); 
	grid-template-rows: repeat(3, 100px);
	grid-gap: 10px 10px; 
	grid-template-areas: 
		"a a b b"
		"c d d d"
		"e e e e";
}

div[class^="item"]{
	background: blue; 
	text-align: center; 
}

.itema{grid-area: a;}

.itemb{grid-area: b;}

.itemc{grid-area: c;}

.itemd{grid-area: d;}

.iteme{grid-area: e;}